import /system/etc/init/init.safailnet.rc

on init
    mount none /system/etc/fstab.default /vendor/etc/fstab.default bind

on post-fs-data
    #Hack until we build the vendor
    mount none /dev/null /vendor/lib/hw/lights.atoll.so bind
    mount none /dev/null /vendor/lib64/hw/lights.atoll.so bind
    mount none /vendor/lost+found /vendor/overlay bind

on property:init.svc.face_hal=restarting
    stop face_hal

on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,7
    setprop dalvik.vm.dex2oat-threads 6
